/*------------------------------------*\
	VARIABLES
\*------------------------------------*/
@nice-font: 'Arvo', serif;
@nav-font: 'Ubuntu', sans-serif;

/*------------------------------------*\
	MAIN
\*------------------------------------*/
html{
	background:none;
}
body{
	background:none;
	padding-top:50px;
}
#page{
	margin:0 auto;
	float:none;
	text-align:center;
}





/*------------------------------------*\
	TYPE
\*------------------------------------*/
#title{
	font-weight:bold;
	font-size:4em;
	line-height:1;
    font-family: @nav-font;
}
a{
	color:inherit;
}

#header{
   font-family: @nice-font; 
   text-transform: uppercase;
   font-size: 6em;
   line-height: 1;
}

nav > ul{
    list-style: none;
    text-transform: uppercase;
    font-size: 1.5em;
    font-family: @nav-font;
}




/*------------------------------------*\
	IMAGES
\*------------------------------------*/
#logo{
	margin-bottom:1.5em;
}





/*------------------------------------*\
	NARROW
\*------------------------------------*/
/*
CSS for tablets and narrower devices
*/





@media (min-width: 721px) and (max-width: 960px){}
/*--- END NARROW ---*/





/*------------------------------------*\
	MOBILE
\*------------------------------------*/
/*
CSS for mobile devices.
Linearise it!
*/





@media (max-width: 720px){
body{
	font-size:0.75em;
}

#header{
    font-size:3em;
}
}
/*--- END MOBILE ---*/
