---
layout: default
title: Andy Freeland
---

{% for post in paginator.posts %}
    <article>
        <header>
            <time datetime="{{ post.date}}" pubdate>{{ post.date | date_to_string }}</time>
            <h1 id="post_title">
                <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
            </h1>
        </header>
            
            {{ post.content }}
            
        <p class="post_comment_link">
            <a href="{{ post.url }}#disqus_thread">Comments</a>
        </p>
    
    </article>
{% endfor %}

<div class="paginator">
  
  <div class="left_column">
    {% if paginator.next_page %}
      <a href="/page{{ paginator.next_page }}/">&larr; Older</a>
    {% endif %}
  </div>

  <div class="center_column">
    {% include search.html %}
  </div>
  
  <div class="right_column">
    {% if paginator.previous_page %}
      <a href="
        {% if paginator.previous_page == 1 %}
          /
        {% else %}
          /page{{ paginator.previous_page }}
        {% endif %}">Newer &rarr;</a>
    {% endif %}
  </div>
  
</div>
