---
---

/* Colors */

@background-color: #222222;
@foreground-color: #111111;
@heading-color: #c6e567;
@anchor-color: #ebffb4;
@primary-text-color: #ffffff;
@secondary-text-color: #aaaaaa;

/* Layout */
