---
---

/* reset */
.clear {clear: both;display: block;overflow: hidden;visibility: hidden;width: 0;height: 0;}.clearfix:after {clear: both;content: ' ';display: block;font-size: 0;line-height: 0;visibility: hidden;width: 0;height: 0;}* html .clearfix {height: 1%;}

/* Colors */

@background-color: #000000;
@foreground-color: #111111;
@heading-color: #FEFE3F;
@link-color: #FEFE3F;
@primary-text-color: #ffffff;
@secondary-text-color: #aaaaaa;

/* Fonts */

@font-face {
font-family: 'UniversalisADFStdRegular';
src: url('/f/UniversalisADFStd-Regular.eot');
src: local('Universalis ADF Std'), local('UniversalisADFStd-Regular'), url('/f/UniversalisADFStd-Regular.woff') format('woff'), url('/f/UniversalisADFStd-Regular.otf') format('opentype');
}
@font-face {
font-family: 'UniversalisADFStdOblique';
src: url('/f/UniversalisADFStd-Oblique.eot');
src: local('Universalis ADF Std'), local('UniversalisADFStd-Oblique'), url('/f/UniversalisADFStd-Oblique.woff') format('woff'), url('/f/UniversalisADFStd-Oblique.otf') format('opentype');
}
@font-face {
font-family: 'UniversalisADFStdBold';
src: url('/f/UniversalisADFStd-Bold.eot');
src: local('Universalis ADF Std'), local('UniversalisADFStd-Bold'), url('/f/UniversalisADFStd-Bold.woff') format('woff'), url('/f/UniversalisADFStd-Bold.otf') format('opentype');
}

/* Layout */

* {
    margin: 0;
    padding: 0;
}

html {
    background: @background-color;
    font: normal medium UniversalisADFStdRegular;
    font-size: 120%;
    line-height: 1.8em;
    color: @primary-text-color;
}

body {
    width: 60em;
    max-width: 80%;
    margin: 0 auto;
    padding-bottom: 3em;
}

ul {
    list-style-type: square;
}

/* Text */

.post {
    font-size: 1.2em;
}

.secondary-text {
    color: @secondary-text-color;
}

h1, h2, h3 {
    color: @heading-color;
}

a {
    color: @link-color;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

#header {
    height: 100px;
    margin-top: 1.5em;
    color: @heading-color;
}

#title {
    float: left;
    font-size: 75px;
}

#navigation {
    font-size: 40px;
    float: right;
    
    a:hover {
        text-decoration: underline;
    }
}

#content {
    float: left;
    width: 100%;
}

.post_date {
    color: @secondary-text-color;
}

.post_title {
    a:hover {
        text-decoration: underline;
    }
}


/* Pagination */

div.left_column,
div.right_column,
form.center_column
{
  border-bottom: 3px solid @background-color;
}

div.left_column,
div.right_column
{
  width: 25%;
}

div.left_column
{
  float: left;
}

div.center_column
{
  float: left;
  width: 50%;
  text-align: center; 
}

div.right_column
{
  float: right;
  text-align: right;
}

div.paginator
{
  margin: 3em 0;
}

/* Horizontal Rule */

hr
{
  border-top: 1px solid #010101;
  border-bottom: 1px solid #575757;
  border-right: none;
  border-left: none;
}

hr.post
{
  margin: 3em 0 3.5em 0;
}
