<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset=utf-8" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/screen.css" />
    <link href='http://fonts.googleapis.com/css?family=OFL+Sorts+Mill+Goudy+TT:regular,italic' rel='stylesheet' type='text/css'>
    <link rel="alternate" type="application/atom+xml" title="Andy Freeland - Atom" href="http://feeds.feedburner.com/andyfreeland" />
    <!--[if IE]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>
    <header>
        <h1 id="title">
            <a href="/">Andy Freeland</a>
        </h1>
        
        <nav>
            <ul>
                <li><a href="/about/">About</a></li>
                <li><a href="/lebanon/">Lebanon</a></li>
                <li><a href="/archive/">Archive</a></li>
            </ul>
        </nav>
    </header>
    
    {{ content }}
    
    {% include comment_count.html %}
    {% include analytics.html %}
</body>
</html>
