---
layout: default
---

<article class="post">
    <header>
        <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_string }}</time>
        <h1 class="title">{{ page.title }}</h1>
    </header>
        
    {{ content }}
</article>

<div class="post_comments">
    <script type="text/javascript">  var disqus_developer = true; </script>
    <div id="disqus_thread"></div><script type="text/javascript" src="http://disqus.com/forums/andyfreeland/embed.js"></script><noscript><a href="http://disqus.com/forums/jimeh/?url=ref">View the discussion thread.</a></noscript>
</div>

<footer>
  {% if page.previous %}
    <a href="{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a>
  {% endif %}
  {% include search.html %}
  {% if page.next %}
    <a href="{{ page.next.url }}" title="{{ page.next.title }}">Newer &rarr;</a>
  {% endif %}
</footer>
