---
layout: default
---

<article class="post">
    <header>
        <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_string }}</time>
        <h1 class="post_title">{{ page.title }}</h1>
    </header>
        
    {{ content }}
</article>

<div class="post_comments">
    <script type="text/javascript">  var disqus_developer = true; </script>
    <div id="disqus_thread"></div><script type="text/javascript" src="http://disqus.com/forums/andyfreeland/embed.js"></script><noscript><a href="http://disqus.com/forums/jimeh/?url=ref">View the discussion thread.</a></noscript>
</div>

{% if page.previous or page.next %}
<div class="paginator">
  <hr/>
  
  <div class="left_column">
    {% if page.previous %}
      <a href="{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a>
    {% endif %}
  </div>

  <div class="right_column">
    {% if page.next %}
      <a href="{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a>
    {% endif %}
  </div>
  
  <div class="clear">
  </div>
  
  <hr/>
</div>
{% endif %}
